<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Langsung ke konten</a>

  <header class="header">
    <div class="header__inner">
        <a href="#" id="menu" class="header__menu">☰</a>
        <h1 class="header__title">Luwee</h1>
    </div>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item">
        <a href="https://www.linkedin.com/in/imam-sutono-2ba558115" target="_blank">About Us</a>
      </li>
    </ul>
  </nav>

  <div class="hero">
    <div class="hero__inner">
        <p class="hero__tagline">Luwee</p>
        <h1 class="hero__title">
            Pingin Gak Luwe?<br>
            Yo mangan dek kene
        </h1>
    </div>
  </div>

  <main id="maincontent">
    <section class="content">
      <h1 class="list__label">Explore Restaurant</h1>
      <div id="restaurantList" class="restaurant"></div>
    </section>
  </main>

  <footer>
      <p>Copyright © 2021 - Luwee</p>
  </footer>
</body>
</html>
