<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#eb5757">
  <link rel="icon" href="icon.png">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Langsung ke konten</a>

  <header class="header">
    <div class="header__inner">
        <button id="menu" class="header__menu">☰</button>
        <h1 class="header__title">Luwee</h1>
    </div>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/list">Home</a></li>
      <li class="nav__item"><a href="#/favorite">Favorite</a></li>
      <li class="nav__item">
        <a href="https://www.linkedin.com/in/imam-sutono-2ba558115" target="_blank">About Us</a>
      </li>
    </ul>
  </nav>

  <div class="hero">
    <picture class="hero__picture">
      <source media="(max-width: 600px)" srcset="images/hero-image_4-small.jpg">
      <img class="hero__picture-img" src="images/hero-image_4-large.jpg" alt="Luwee app">
    </picture>
    <div class="hero__inner">
        <p class="hero__tagline">Luwee</p>
        <h1 class="hero__title">
            Pingin Gak Luwe?<br>
            Yo mangan dek kene
        </h1>
    </div>
  </div>

  <main>
    <section id="maincontent" class="content"></section>
  </main>

  <footer>
      <p>Copyright © 2021 - Luwee</p>
  </footer>
</body>
</html>
